body{
    background-color: rgb(127, 200, 194);
    color: #000000;
    font-family: arial;
    width: 900px;
    margin: 20px auto;
    }
#container{
    width:100px;
    background-color:#9b9090;
    padding: 20px;
    border: 5px solid black;
    border-radius: 25px;

}
p{
    line-height: 2.35em;
}
img{
    width: 250px;
    float: left;
    border: 3px solid black;
    border-radius: 15px;
    margin-right: 20px;
    margin-bottom: 5px;
}
h1{
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
    border-radius: 15px;
    padding: 10px;
    Text-align: center;
    width: 60%;
    margin: 20px auto;
    font-family: Georgia;
}
h2{
    font-size: 1.3em;
    text-align: center;
    font-style: italic;
}
h3{
    border-left: 20px double white;
    padding: 15px;
    border-radius: 20px;
    border-bottom: 2px solid #ccc;
    width: 200px;
}
p{
    line-height: 2.4em;
    background-color: #9b9090;
    padding: 20px;
    border: 2px dotted black;
}
/* PSEUDO SELECTORS */
a:link{
    color:rgb(246, 53, 53);
    text-decoration:none;
    font-weight: bold;
}
a:visited{
    color: rgb(101, 1, 1);
}
a:hover{
    color: red;
    text-decoration: underline;
}
a:active{
    color: white;
}
/* ACTIVE ID*/

#pic1{
    height: 150px;
    float: right;
    margin-left: 10px;
    margin-right: 0;
}

/* Class Rule */

.highlight{
    background-color: yellow;
    color: rgb(0, 0, 0);
    padding: 2px;
    border-radius: 3px;
    font-weight: bold;
}

#sidebar{
    background-color:rgb(238, 84, 84) ;
    width: 250px;
    line-height:2.3em;
    border: 2px solid white;
    float: right;
    margin: 20px;   
}

#sidebar h3{
    border:none;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
    margin-top:15px;
    background: none;
    border: 2px dotted white;
}
li{
    font-style: italic;
}

@media (max-width:1200px){
    #container{
        background-color: rgb(116, 236, 236);
        width: 0%;
    }
}

@media (max-width:992px){
    #container{
        background-color: rgb(149,238,238);
        width: 100%;
    }
    body, p, #container{
        margin: 0;
        border: none;
        padding: 0;
        
    }
    p{
        padding: 20px;
    }
    @media (max-width: 768px){
        #sidebar{
            display: none
        }
        h1{
            border:none;
            background:none;
        }
    }
    img{
        width: 200px;
    }
}